# Aprendendo Mais de Python

### Paulo Cysne Rios Jr, 18 de outubro de 2017

## 1. Strings

In [22]:
s = "Testando Meu Texto"

In [23]:
s.upper()

'TESTANDO MEU TEXTO'

In [24]:
s.lower()

'testando meu texto'

In [25]:
s.count("o")

2

In [26]:
s.find("o")

7

In [27]:
s.isupper()  # true se todos sao alphanum

False

In [28]:
s

'Testando Meu Texto'

In [29]:
s.split("e")

['T', 'stando M', 'u T', 'xto']

In [30]:
s.partition("e")

('T', 'e', 'stando Meu Texto')

## 2. All e any()

In [31]:
lista_booleana = [True, False, False, True]

In [32]:
all(lista_booleana) # True se todos True

False

In [33]:
any(lista_booleana) # True se algum True

True

## 4. Expressões Lambda

São funções anônimas.

In [37]:
def cube(num):
    return num**3

In [38]:
cube(2)

8

In [39]:
even = lambda x: x%2 == 0

In [40]:
even(4)

True

In [41]:
even(7)

False

## 4. Geradores (Generators)

Iteradores em Python 3 permanacem inativos em memória até serem usados. Isto é uma modificação de Python 3 em relação a Python 2.

In [92]:
range(1, 5)

range(1, 5)

In [93]:
list(range(1, 5))

[1, 2, 3, 4]

In [94]:
for i in range(1, 5):
    print(i)

1
2
3
4

## 5. Enumerate

In [34]:
minha_lista = ["a", "b", "c", "d", "e"]

In [36]:
for indice, letra in enumerate(minha_lista):
    print(indice)
    print(letra)

0
a
1
b
2
c
3
d
4
e

## 6. List Comprehension

In [42]:
todas_letras = [x for x in "palavras"]

In [43]:
todas_letras

['p', 'a', 'l', 'a', 'v', 'r', 'a', 's']

In [44]:
tudo_ao_quadrado = [x**2 for x in range(0, 11)]

In [45]:
tudo_ao_quadrado

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [46]:
celsius = [0, 10 ,23, 32]

In [48]:
fahrenheit = [ ((float(9)/5)*t + 32) for t in celsius ]

In [49]:
fahrenheit

[32.0, 50.0, 73.4, 89.6]

In [50]:
valores = [range(i, i + 3) for i in [2, 4]]

In [51]:
valores

[range(2, 5), range(4, 7)]

## 7. Map

In [67]:
list(map(lambda x: x**2, [3, 8, 11]))

[9, 64, 121]

In [78]:
def fahrenheit(T):
    return ((float(9)/5)*T + 32)

In [79]:
temperaturas_c = [10, 22.5, 35, 40]

In [86]:
temperaturas_f = map(fahrenheit, temperaturas_c)
list(temperaturas_f)

[50.0, 72.5, 95.0, 104.0]

In [82]:
chr(67)

'C'

In [81]:
for ch in map(chr,[65,66,67,68]):
    print(ch)

A
B
C
D

Mais de um argumento:

In [83]:
list(map(min, [1,2,3,4], [0,10,0,10]))

[0, 2, 0, 4]

## 8. Zip

Zipa as listas conjuntamente.

In [103]:
lista_1 = [0, 1, 2, 3]
lista_2 = [4, 5, 6, 7]

In [104]:
zip(lista_1, lista_2) # apenas um endereço na memória

In [106]:
list(zip(lista_1, lista_2))  # usado

[(0, 4), (1, 5), (2, 6), (3, 7)]

In [95]:
zip(range(3), 'abc') # apenas um endereço na memória

Usado em um casting (transformação de tipo)

In [97]:
list(zip(range(3), 'abc')) # usado

[(0, 'a'), (1, 'b'), (2, 'c')]

Usado num interador

In [98]:
for index, letter in zip(range(3), 'abc'): 
    print(index, letter)

0 a
1 b
2 c

In [107]:
x = [1,2,3]
y = [4,5,6]

# Zip the lists together
zip(x,y)

In [108]:
list(zip(x,y))

[(1, 4), (2, 5), (3, 6)]

In [109]:
x2 = [1,2,3]
y2 = [4,5,6,7,8]

# Zip the lists together
zip(x2, y2)

In [112]:
list(zip(x2,y2))

[(1, 4), (2, 5), (3, 6)]

In [113]:
d1 = {'a':1,'b':2}
d2 = {'c':4,'d':5}

zip(d1, d2)

In [114]:
list(zip(d1, d2))

[('a', 'c'), ('b', 'd')]

In [116]:
zip(d2,d1.values())

In [117]:
list(zip(d2,d1.values()))

[('c', 1), ('d', 2)]