# Curso Rápido de Python - Parte 1

Paulo Cysne Rios, Jr, 17 de Outubro de 2017

## 1. Tipo de dados dinâmicos

In [1]:
meu_carro = "Toyota"

In [2]:
meu_carro

'Toyota'

In [3]:
meu_carro = 5

In [4]:
type(meu_carro)

int

In [5]:
meu_carro

5

In [6]:
type(meu_carro)

int

In [7]:
meu_carro = "Toyota"

## 2. If else

In [8]:
if (meu_carro == "Toyota"):
    print("seu carro é um Toyota")
else:
    print("seu carro não é um Toyota")

seu carro é um Toyota

## 3. For loops

In [9]:
for numero in range(1, 5):
    print(numero)

1
2
3
4

## 4. Listas

In [10]:
cidades =["Paris", "Londres", "Madrid", "Rio"]

In [11]:
type(cidades)

list

In [12]:
for cidade in cidades:
    print("Já estive em", cidade)

Já estive em Paris
Já estive em Londres
Já estive em Madrid
Já estive em Rio

In [13]:
cidades.append("Lisboa")

In [14]:
cidades

['Paris', 'Londres', 'Madrid', 'Rio', 'Lisboa']

In [15]:
cidades[1]

'Londres'

In [16]:
cidades[1:3]

['Londres', 'Madrid']

In [17]:
cidades[-1]

'Lisboa'

In [18]:
notas = [10.0, 6.7, 8.5]

In [19]:
notas

[10.0, 6.7, 8.5]

In [20]:
"Brasilia" in cidades

False

In [21]:
type(notas)

list

## 5. Sets

Set (conjunto) é uma coleção não ordenada SEM elementos duplicados

In [22]:
cidades_para_visitar = {'Madrid', 'Londres', 'Paris', 'Rio'}

In [23]:
"Madrid" in cidades_para_visitar

True

In [24]:
"Paris" not in cidades_para_visitar

False

In [25]:
a = set('abracadabra')

In [26]:
a

{'a', 'b', 'c', 'd', 'r'}

## 6. Dicionários

In [27]:
cidades_visitadas = { "Maio": "Paris",
                      "Junho": "Londres",
                      "Julho": "Madrid"}

In [28]:
cidades_visitadas.items()

dict_items([('Maio', 'Paris'), ('Junho', 'Londres'), ('Julho', 'Madrid')])

In [29]:
for mes, cidade in cidades_visitadas.items():
    print(mes)
    print(cidade)

Maio
Paris
Junho
Londres
Julho
Madrid

In [30]:
cidades_visitadas.items()

dict_items([('Maio', 'Paris'), ('Junho', 'Londres'), ('Julho', 'Madrid')])

In [31]:
cidades_visitadas

{'Julho': 'Madrid', 'Junho': 'Londres', 'Maio': 'Paris'}

In [32]:
cidades_visitadas

{'Julho': 'Madrid', 'Junho': 'Londres', 'Maio': 'Paris'}

In [33]:
for cidade in cidades_visitadas.values():
    print(cidade)

Paris
Londres
Madrid

In [34]:
cidades_visitadas.keys()

dict_keys(['Maio', 'Junho', 'Julho'])

In [35]:
cidades_visitadas.values()

dict_values(['Paris', 'Londres', 'Madrid'])

In [36]:
cidades_visitadas.items()

dict_items([('Maio', 'Paris'), ('Junho', 'Londres'), ('Julho', 'Madrid')])

In [37]:
cidades_visitadas["Maio"]

'Paris'

### 6.1 Dicionários com Listas

In [38]:
cidades_visitadas = { "Maio": "Paris",
                      "Junho": "Londres",
                      "Julho": ["Madrid", "Lisboa"]}

In [39]:
cidades_visitadas["Julho"]

['Madrid', 'Lisboa']

In [40]:
cidades_visitadas["Julho"][1]

'Lisboa'